.searchbar{
    border-radius: 55px;
    background: white;
}

.search-input{
    border: none;
    background: none;
    min-width: 200px;
}

.tag-container{
    overflow-y: auto;
    max-width: 65%;
    margin-left: 15px;
    flex-wrap: wrap;
    max-height: 50px;
    min-height: 32px;
}

.tag-selection{
    border-radius: 5px;
    color:#fff
}