    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }

    }
    .fade-in {
        visibility: hidden;
    }
    .fade-in[loaded] {
        animation: 1s fadeIn;
        animation-fill-mode: forwards;
    }

    .no-fouc {
        visibility: hidden;
    }
    .no-fouc[loaded] {
        visibility: visible;
    }